@font-face {
    font-family: 'Giorgio Sans';
    src: url('GiorgioSans-Bold.woff2') format('woff2'),
        url('GiorgioSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Giorgio Sans';
    src: url('GiorgioSans-Bold.woff2') format('woff2'),
        url('GiorgioSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Giorgio Sans';
    src: url('GiorgioSans-Bold.woff2') format('woff2'),
        url('GiorgioSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Giorgio Sans';
    src: url('GiorgioSans-Bold.woff2') format('woff2'),
        url('GiorgioSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

